<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at $3 per month</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
            aliquam?
        </p>
    </header>
    <div class="input-group">
        <input
            type="text"
            class="input"
            placeholder="Enter domain name here..."
        />
        <button class="btn btn--accent">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            Search
        </button>
    </div>
    <ul class="list block-domain__prices">
        <li>.com $10</li>
        <li>.sg $8</li>
        <li>.space $11</li>
        <li>.net $7</li>
        <li>.cls $5</li>
        <li>.org $3</li>
    </ul>
</section>
